@model IEnumerable<HospitalManagementSystem.Models.DoctorDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>


<div style=" margin-top: 30px;">
    <a style="border: 1px solid black; margin: 15px; padding: 15px; text-decoration: none; text-align: center; background-color: #47d147; color: black; " href="/Doctor/New">Add New Doctor</a>
</div>

@foreach (var doctor in Model)
{

    <h2><a href="/Doctor/Details/@doctor.DoctorId">@doctor.DoctorFName @doctor.DoctorLName</a></h2>
    <div>Speciality: @doctor.Speciality</div>

}

